<div class="container-fluid cx pt-4">
  <a href="https://theurasian.eu" target="_blank">
    <div class="logo">
      <img class="d-block" width="220" height="75" src="../../../assets/home/logo.jpg">
    </div>
  </a>
</div>
<div class="container-fluid cx pt-4" *ngIf="device.isDesktop()">
  <a href="https://play.google.com/store/apps/details?id=press.eurasian.the" target="_blank">
    <div class="download mx-4">
      <img class="d-block" width="220" height="75" src="../../../assets/android.png">
    </div>
  </a>
  <a href="https://apps.apple.com/us/app/the-eurasian/id1559418805" target="_blank">
    <div class="download mx-4">
      <img class="d-block" width="220" height="75" src="../../../assets/ios.png">
    </div>
  </a>
  <a href="https://wap-drru.hispace.hicloud.com/uowap/index.html#/detailApp/C104131097?source=qrCodeShare" target="_blank">
    <div class="download mx-4">
      <img class="d-block" width="220" height="75" src="../../../assets/appGallery.png">
    </div>
  </a>
</div>
<div class="container-fluid pt-4" *ngIf="device.isMobile()">
  <a href="https://play.google.com/store/apps/details?id=press.eurasian.the" target="_blank">
    <div class="download my-4 cx">
      <img class="d-block" width="220" height="75" src="../../../assets/android.png">
    </div>
  </a>
  <a href="https://apps.apple.com/us/app/the-eurasian/id1559418805" target="_blank">
    <div class="download my-4 cx">
      <img class="d-block" width="220" height="75" src="../../../assets/ios.png">
    </div>
  </a>
  <a href="https://wap-drru.hispace.hicloud.com/uowap/index.html#/detailApp/C104131097?source=qrCodeShare" target="_blank">
    <div class="download my-4 cx">
      <img class="d-block" width="220" height="75" src="../../../assets/appGallery.png">
    </div>
  </a>
</div>
