<div class="logo cx cy my-2 pb-4" (click)="openLogo()">
  <img src="assets/home/logo.jpg" height="100"/>
</div>
<div class="title my-2">
  Нотр-Дам-де-Пари: испытание временем. Часть 1
</div>
<div class="separator"></div>
<div class="title my-2">
  巴黎圣母院：时间的考验。 第1部分
</div>
<div class="separator"></div>
<div class="title my-2">
  Notre-Dame de Paris: the test of time. Part 1
</div>
<div class="select-language pb-4">
  <div class="open-url" (click)="open1('ru')">
    <div class="cx"><img src="assets/rus.png" height="80"/></div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        ССЫЛКА
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open1('cn')">
    <div class="cx"><img src="assets/chn.png" height="80"/></div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        关联
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open1('en')">
    <div class="cx"><img src="assets/eng.png" height="80"/></div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        LINK
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="title my-2 pt-4">
  Нотр-Дам-де-Пари: испытание временем. Часть 2
</div>
<div class="separator"></div>
<div class="title my-2">
  巴黎圣母院：时间的考验。 第2部分
</div>
<div class="separator"></div>
<div class="title my-2">
  Notre-Dame de Paris: the test of time. Part 2
</div>
<div class="select-language">
  <div class="open-url" (click)="open2('ru')">
    <div class="cx"><img src="assets/rus.png" height="80"/></div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        ССЫЛКА
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open2('cn')">
    <div class="cx"><img src="assets/chn.png" height="80"/></div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        关联
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open2('en')">
    <div class="cx"><img src="assets/eng.png" height="80"/></div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        LINK
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
</div>
