<footer class="page-footer font-small black darken-3" *ngIf="!device.isMobile()">
  <div class="subscription-footer">
    <div class="row pt-4">
      <p>{{lang.tr('Editorial Office address: 8 Presnenskaya naberezhnaya, bldg. 1, Gorod Stolitz Business Center, P.O. Box 82, Moscow City, Moscow, 123112, Russian Federation; Telephone: 8 (800) 300 81 18')}}</p>
    </div>
    <div class="row">
      <p>{{lang.tr('Editorial Office address in the Republic of Kazakhstan: 25 Esenberlina street, AIFC, Nur-Sultan, 010000, Republic of Kazakhstan; Telephone: +7 (7172) 38 14 21')}}</p>
    </div>
    <div class="row">
      <div class="text-center">© 2020 Copyright:
        <span (click)="openLink('/#/contacts')" class="text-url">eurasian.press</span>
        YA-TSOI, OOO (D-U-N-S 537141585)
        <span (click)="openLink('/assets/home/contacts/Свидетельство о регистрации СМИ.pdf')" class="text-url">{{lang.tr('Media Testimonies')}}</span>
      </div>
    </div>
  </div>
</footer>
<footer class="text-white text-center font-small black darken-3 container-fluid container-mobile" *ngIf="device.isMobile()">
  <div class="row pt-4">
    <p>{{lang.tr('Editorial Office address: 8 Presnenskaya naberezhnaya, bldg. 1, Gorod Stolitz Business Center, P.O. Box 82, Moscow City, Moscow, 123112, Russian Federation; Telephone: 8 (800) 300 81 18')}}</p>
    <p>{{lang.tr('Editorial Office address in the Republic of Kazakhstan: 25 Esenberlina street, AIFC, Nur-Sultan, 010000, Republic of Kazakhstan; Telephone: +7 (7172) 38 14 21')}}</p>
  </div>
  <div class="row center-row">
    <div (click)="openLink('/#/contacts')" class="text-center">© 2020 Copyright: eurasian.press YA-TSOI, OOO (D-U-N-S 537141585)
    </div>
    <div (click)="openLink('/assets/home/contacts/Свидетельство о регистрации СМИ.pdf')" class="text-center">
      {{lang.tr('Media testimonies')}} eurasian.press
    </div>
  </div>
</footer>
