<div class="logo cx cy" (click)="openLogo()">
  <img src="assets/home/logo.jpg" height="100"/>
</div>
<div class="title my-2 mt-2">
  Академик Глазьев о продаже русской нефти и газа странам НАТО за рубли
</div>
<div class="separator"></div>
<div class="title my-2">
  格拉齐耶夫院士谈俄罗斯石油和天然气以卢布出售给北约国家
</div>
<div class="separator"></div>
<div class="title my-2">
  Academician Glazyev on the sale of Russian oil and gas to NATO countries for rubles
</div>
<div class="select-language">
  <div class="open-url" (click)="open('https://xn--41a.tv/#/watch?video=akgl250322&lang=ru')">
    <div class="cx">
      <ngx-qrcode
        [value]="'https://xn--41a.tv/#/watch?video=akgl250322&lang=ru'"
        cssClass="aclass" width="220">
      </ngx-qrcode>
    </div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        ССЫЛКА
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open('https://xn--41a.tv/#/watch?video=akgl250322&lang=zh')">
    <div class="cx">
      <ngx-qrcode
        [value]="'https://xn--41a.tv/#/watch?video=akgl250322&lang=zh'"
        cssClass="aclass" width="220">
      </ngx-qrcode>
    </div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        关联
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open('https://xn--41a.tv/#/watch?video=akgl250322&lang=en')">
    <div class="cx">
      <ngx-qrcode
        [value]="'https://xn--41a.tv/#/watch?video=akgl250322&lang=en'"
        cssClass="aclass" width="220">
      </ngx-qrcode>
    </div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        LINK
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
</div>
