<div class="container-fluid cx pt-4">
  <a href="https://theurasian.eu" target="_blank">
    <div class="logo">
      <img class="d-block" width="220" src="../../../assets/home/logo.jpg">
    </div>
  </a>
</div>
<div class="container-fluid pt-4 pb-4">
  <p>(28.05.2021 12:27)</p>
  <strong>Seven years of the Eurasian Economic Union Treaty</strong>
  <p>
    Seven years ago, on May 29, 2014, the Treaty on the Eurasian Economic Union was signed.
    It is a fundamental document representing the beginning of comprehensive integration on a wide range of economic issues. Thanks to consistent work on implementing the Treaty's provisions, today, the Eurasian Economic Union successfully operates a single market of goods for more than 180 million consumers from Armenia, Belarus, Kazakhstan, Kyrgyzstan, and Russia. Significant progress has been made in shaping the service market, which already encompasses 53 sectors. A unified Customs Code and Union Pharmacopoeia have been adopted. Freedom of movement and social guarantees for workers are ensured, and in January 2021, the Pension Agreement came into force. There are 49 technical regulations and more than 12,000 international standards, so about 85% of goods are certified according to the same technical norms.
  </p>
  <p>
    Integration into the Eurasian Economic Union has proven its worth. Over the first five years of operation, the GDP of the Eurasian Economic Union has increased by 21%, reaching nearly $2 trillion by the end of 2019. Industrial production grew by 13.2%, including manufacturing by almost 15%. These indicators are higher than in other integration associations, such as the European Union. The volume of mutual trade of Eurasian Economic Union states in the same period increased by 27.7%.
  </p>
  <p>
    The Eurasian Economic Union has become an integral part of the architecture of international economic relations. By the beginning of 2021, the Commission had concluded 14 memorandums of cooperation or understanding with the governments of third countries and nine memorandums with regional integration groupings. Three states were granted observer status with the Eurasian Economic Union (Moldova, Cuba, Uzbekistan). The Union concluded trade agreements of varying depth with five countries (Vietnam, Iran, China, Singapore, and Serbia).
  </p>
  <p>
    The sixth year of the Eurasian Economic Union was a real test and a test of strength. I believe that the Union has coped with this challenge with dignity. Thanks to the coordinated actions of the governments of member states and the Eurasian Economic Commission, it was possible to organize the effective management of resources, critical medicines, medical products, industrial and food products. Timely measures were taken to ensure economic stability and counteract coronavirus infection.
  </p>
  <p>
    The negative impact of the COVID-19 pandemic on the Union's economies is gradually weakening: recovery in several sectors of the economy has been observed against the background of economic support measures and the removal of restrictive measures. The volume of mutual trade in the Eurasian Economic Union in January-March 2021 increased by 16.7% compared to the same period last year. The volume of trade with third countries of the world grew by 3.9%.
  </p>
  <p>
    The key event of late is the approval by the heads of Eurasian Economic Union states in December 2020 of the Strategic directions of development of Eurasian economic integration until 2025. The strategy expands the "horizons" of the Eurasian Economic Union Treaty. It marks the transition from the stage of formation to the stage of project integration. Today, to accelerate economic growth in the Eurasian Economic Union, an accelerated build-up of investment and innovation activity based on the efficient use of production facilities, labor resources, and scientific and technological potential is necessary.
  </p>
  <p>
    Integration must work in the interests of the citizens of our countries to make their living in the Union comfortable. That is why Strategy-2025 includes such new areas of economic interaction in the Eurasian Economic Union as education and science, tourism, sports, and health care.
  </p>
  <p>
    I am confident that only together will we be able to overcome the consequences of the pandemic and fully realize the potential of the Strategic directions, which will allow us to achieve rapid economic growth, achieve a balanced implementation of national and union goals, and strengthen the position of the Eurasian Economic Union and its member states in the world.
  </p>
  <strong>Chairman of the Board of the Eurasian Economic Commission Mikhail Myasnikovich</strong>
</div>
