<div class="logo cx cy my-2" (click)="openLogo()">
  <img src="assets/home/logo.jpg" height="100"/>
</div>
<div class="title my-2 mt-2">
  Новые регионы, попытка госпереворота и суперпрезидентская форма правления. Послание Президента
</div>
<div class="separator"></div>
<div class="title my-2">
  新地区、未遂政变和超级总统制政府。 总统致辞
</div>
<div class="separator"></div>
<div class="title my-2">
  New regions, an attempted coup and a super-presidential form of government. Message from the President
</div>
<div class="select-language">
  <div class="open-url" (click)="open('https://xn--41a.tv/#/watch?video=newreg210322&lang=ru')">
    <div class="cx">
      <ngx-qrcode
        [value]="'https://xn--41a.tv/#/watch?video=newreg210322&lang=ru'"
        cssClass="aclass">
      </ngx-qrcode>
    </div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        ССЫЛКА
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open('https://xn--41a.tv/#/watch?video=newreg210322&lang=zh')">
    <div class="cx">
      <ngx-qrcode
        [value]="'https://xn--41a.tv/#/watch?video=newreg210322&lang=zh'"
        cssClass="aclass">
      </ngx-qrcode>
    </div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        关联
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open('https://xn--41a.tv/#/watch?video=newreg210322&lang=en')">
    <div class="cx">
      <ngx-qrcode
        [value]="'https://xn--41a.tv/#/watch?video=newreg210322&lang=en'"
        cssClass="aclass">
      </ngx-qrcode>
    </div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        LINK
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
</div>
