<div class="logo cx cy my-2" (click)="openLogo()">
  <img src="assets/home/logo.jpg" height="100"/>
</div>
<div class="title my-2">
  Документальный фильм <br> "Главный Храм Вооружённых сил"
</div>
<div class="separator"></div>
<div class="title my-2">
  纪录片 "武装力量的圣殿"
</div>
<div class="separator"></div>
<div class="title my-2">
  The documentary film <br>"The Main Temple of the Armed Forces"
</div>
<div class="select-language">
  <div class="open-url" (click)="open('ru')">
    <div class="cx"><img src="assets/rus.png" height="80"/></div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        ССЫЛКА
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open('cn')">
    <div class="cx"><img src="assets/chn.png" height="80"/></div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        关联
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open('en')">
    <div class="cx"><img src="assets/eng.png" height="80"/></div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        LINK
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
</div>
