<div [class.page]="!device.isMobile()" [class.page-m]="device.isMobile()">
  <div class="left-journals" *ngIf="!device.isMobile()">
    <div class="journal cursor-pointer zoom view" (click)="selectJournal(7)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e7.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div class="journal cursor-pointer zoom view" (click)="selectJournal(6)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e6.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div class="journal cursor-pointer zoom view" (click)="selectJournal(5)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e5.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div class="journal cursor-pointer zoom view" (click)="selectJournal(4)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e4.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div class="journal cursor-pointer zoom view" (click)="selectJournal(3)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e3.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div class="journal cursor-pointer zoom view" (click)="selectJournal(2)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e2.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div class="journal cursor-pointer zoom view" (click)="selectJournal(1)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e1.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
  </div>
  <div class="right-journals" *ngIf="!device.isMobile()">
    <div *ngIf="languageManager.language != 'kz'" class="journal cursor-pointer zoom view" (click)="selectJournal(13)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e13.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div *ngIf="languageManager.language == 'kz'" class="journal cursor-pointer zoom view" (click)="selectJournal(13, 'kz')">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e13-kz.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div *ngIf="languageManager.language != 'kz'" class="journal cursor-pointer zoom view" (click)="selectJournal(12)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e12.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div *ngIf="languageManager.language == 'kz'" class="journal cursor-pointer zoom view" (click)="selectJournal(12, 'kz')">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e12-kz.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div  *ngIf="languageManager.language != 'kz'"class="journal cursor-pointer zoom view" (click)="selectJournal(11)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e11.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div *ngIf="languageManager.language == 'kz'" class="journal cursor-pointer zoom view" (click)="selectJournal(11, 'kz')">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e11-kz.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div class="journal cursor-pointer zoom view" (click)="selectJournal(10)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e10.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div *ngIf="languageManager.language != 'kz'" class="journal cursor-pointer zoom view" (click)="selectJournal(9)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e9.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div *ngIf="languageManager.language == 'kz'" class="journal cursor-pointer zoom view" (click)="selectJournal(9, 'kz')">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e9k.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
    <div class="journal cursor-pointer zoom view" (click)="selectJournal(8)">
      <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e8.jpg">
      <div class="mask flex-center rgba-black-slight">
      </div>
    </div>
  </div>
  <div *ngIf="device.isMobile()">
    <div class="row">
      <div class="center-logo">
        <img class="d-block" width="250" height="100" src="../../../assets/home/logo.jpg">
      </div>
      <img *ngIf="languageManager.language == 'kz'" (click)="selectJournal(13, 'kz')" class="d-block mt-2" height="340" width="250" src="../../../assets/home/publishes/e13-kz.jpg">
      <img *ngIf="languageManager.language != 'kz'" (click)="selectJournal(13)" class="d-block mt-2" height="340" width="250" src="../../../assets/home/publishes/e13.jpg">
    </div>
    <div class="row">
      <div class="pr">
        <mdb-icon far icon="circle" class="cx cy pt-3vh cursor-pointer text-red" size="3x"></mdb-icon>
        <div class="plus-text-m">
          16+
        </div>
      </div>
    </div>
    <div class="row">
      <div class="h4 cx cy pt-3vh">
        <div *ngFor="let language of getLanguages().slice(0, 6)">
          <img class="mx-1 cursor-pointer" [src]="'assets/' + language + '.png'" height="48" (click)="setLang(language)"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="h4 cx cy pt-3vh">
        <div *ngFor="let language of getLanguages().slice(6, 12)">
          <img class="mx-1 cursor-pointer" [src]="'assets/' + language + '.png'" height="48" (click)="setLang(language)"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="h4 cx cy pt-3vh">
        <div *ngFor="let language of getLanguages().slice(12, 16)">
          <img class="mx-1 cursor-pointer" [src]="'assets/' + language + '.png'" height="48" (click)="setLang(language)"/>
        </div>
      </div>
    </div>
    <div class="row h4 cx cy my-2">
      <div class="col-7">
        <div class="row">
          <img (click)="openPbp()" class="mx-1 cursor-pointer" [src]="'assets/pbp.png'" height="50"/>
        </div>
        <div class="row h6 text-red text-small" (click)="openPbp()">
          Personal Browser Page
        </div>
      </div>
      <div class="col-5 cy">
        <div class="my-2">
          <a href="https://play.google.com/store/apps/details?id=press.eurasian.the" target="_blank">
            <img src="assets/googlePlayMobile.png">
          </a>
        </div>
        <div class="my-2">
          <a class="my-2" href="https://apps.apple.com/us/app/the-eurasian/id1559418805" target="_blank">
            <img src="assets/appStoreMobile.png">
          </a>
        </div>
        <div class="my-2">
          <a class="my-2" href="https://wap-drru.hispace.hicloud.com/uowap/index.html#/detailApp/C104131097?source=qrCodeShare" target="_blank">
            <img src="assets/appGalleryMobile.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-auto" *ngIf="!device.isMobile()">
    <div class="col-3 cx z-index-100">
      <div>
        <div class="cx cy pt-3vh z-index-100">
          <div *ngFor="let language of getLanguages().slice(0, 8)">
            <img class="px-1 cursor-pointer" [src]="'assets/' + language + '.png'" height="40" (click)="setLang(language)"/>
          </div>
        </div>
        <div class="cx cy pt-10px z-index-100">
          <div *ngFor="let language of getLanguages().slice(8, 16)">
            <img class="px-1 cursor-pointer" [src]="'assets/' + language + '.png'" height="40" (click)="setLang(language)"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 position-relative cx cy z-index-100">


      <img (mouseenter)="resetSelects();" class="pt-2vh cursor-pointer mx-1" src="assets/menu/pg.png">


      <img (mouseenter)="resetSelects(); selected = 'conference'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/conference.png">
      <div class="select-mail" [hidden]="!isSelected('conference')" (mouseleave)="resetSelects()">
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://zoom.us/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/zoom.png"> {{lang.tr('Zoom')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://duo.google.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/duo.png"> {{lang.tr('Google Duo')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.skype.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/skype.png"> {{lang.tr('Skype')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://meet.google.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/gmeet.png"> {{lang.tr('Google Meet')}}</div>
        <div class="pt-2vh position-relative" *ngFor="let alias of getAliases('conference')">
          <div (click)="openLink(alias.url)" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/cconference.png"> {{alias.name}}</div>
          <div (click)="removeAlias('conference', alias)" class="remove-menu">x</div>
        </div>
        <div class="pt-2vh cursor-pointer">
          <div (click)="alias = ''; url = ''; aliasName = 'conference'; aliasLabel = 'Video Meeting Alias (Zoom)';  aliasUrl = 'Video Meeting Url (https://zoom.us/)'; askForNew.show()" class="add-new-button cx cy">{{lang.tr('Add New')}} +</div>
        </div>
        <div class="pt-2vh cursor-pointer"></div>
      </div>


      <img (mouseenter)="resetSelects(); selected = 'horo'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/horo.png">
      <div class="select-mail" [hidden]="!isSelected('horo')" (mouseleave)="resetSelects()">
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://horo.mail.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/scorp.png"> {{lang.tr('Horoscope')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://horo.mail.ru/sonnik/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/nights.png"> {{lang.tr('Dream Book')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://horo.mail.ru/horoscope/business/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/business.png"> {{lang.tr('Business')}}</div>
        <div class="pt-2vh cursor-pointer"></div>
      </div>

      <img (mouseenter)="resetSelects(); selected = 'video'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/video.png">
      <div class="select-mail" [hidden]="!isSelected('video')" (mouseleave)="resetSelects()">
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.tiktok.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/tiktok.png"> {{lang.tr('TikTok')}}</div>
        <div class="pt-2vh cursor-pointer"></div>
        <div (click)="openLink('https://www.youtube.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 pl-3 cursor-pointer" src="assets/menu/youtube.png"> {{lang.tr('YouTube')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://xn--41a.tv/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/yatv.png"> {{lang.tr('Я.TV')}}</div>
        <div class="pt-2vh"></div>
      </div>

      <img (mouseenter)="resetSelects(); selected = 'afisha'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/afisha.png">
      <div class="select-mail" [hidden]="!isSelected('afisha')" (mouseleave)="resetSelects()">
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://afisha.yandex.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 pl-3 cursor-pointer" src="assets/menu/yandex-afisha.png"> {{lang.tr('Yandex Afisha')}}</div>
       <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.kassir.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/kassir.png"> {{lang.tr('Kassir.Ru')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://kassa.rambler.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 pl-3 cursor-pointer" src="assets/menu/rambler-kassa.png"> {{lang.tr('Rambler Kassa')}}</div>
        <div class="pt-2vh"></div>
      </div>

      <img (mouseenter)="resetSelects(); selected = 'afisha-cinema'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/afisha-cinema.png">
      <div class="select-mail" [hidden]="!isSelected('afisha-cinema')" (mouseleave)="resetSelects()">
        <div class="pt-2vh cursor-pointer"></div>
        <div (click)="openLink('https://www.kinopoisk.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/kinopoisk.png"> {{lang.tr('Kinopoisk')}}</div>
        <div class="pt-2vh cursor-pointer"></div>
        <div (click)="openLink('https://okko.tv/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/okko.png"> {{lang.tr('OKKO')}}</div>
        <div class="pt-2vh cursor-pointer"></div>
        <div (click)="openLink('https://www.ivi.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/ivi.png"> {{lang.tr('IVI.RU')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.netflix.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/netflix.png"> {{lang.tr('NETFLIX')}}</div>
        <div class="pt-2vh"></div>
      </div>

      <img (mouseenter)="resetSelects(); selected = 'search'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/search.png">
      <div class="select-mail" [hidden]="!isSelected('search')" (mouseleave)="resetSelects()">
        <img (click)="openLink('https://www.google.com/')" class="pt-2vh cursor-pointer" src="assets/menu/google.png">
        <img (click)="openLink('https://yandex.ru/')" class="pt-2vh cursor-pointer" src="assets/menu/yandex.png">
        <img (click)="openLink('https://baidu.com/')" class="pt-2vh cursor-pointer" src="assets/menu/baidu.png">
        <div class="pt-2vh position-relative" *ngFor="let alias of getAliases('search')">
          <div (click)="openLink(alias.url)" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/csearch.png"> {{alias.name}}</div>
          <div (click)="removeAlias('search', alias)" class="remove-menu">x</div>
        </div>
        <div class="pt-2vh cursor-pointer">
          <div (click)="alias = ''; url = ''; aliasName = 'search'; aliasLabel = 'Search Engine Alias (Google)';  aliasUrl = 'Search Engine Url (https://google.com/)'; askForNew.show()" class="add-new-button cx cy">{{lang.tr('Add New')}} +</div>
        </div>
        <div class="pt-2vh cursor-pointer"></div>
      </div>

    </div>
    <div class="col-2">
      <div class="center-logo cursor-pointer" (mouseenter)="resetSelects()" (click)="videoPreview.show(); previewSrc.play()">
        <img *ngIf="!device.isMobile()" class="d-block" width="220" src="../../../assets/home/logo.jpg">
        <img *ngIf="device.isMobile()" class="d-block" width="250" src="../../../assets/home/logo.jpg">
      </div>
    </div>
    <div class="col-2 cx z-index-100">


      <img (mouseenter)="resetSelects(); selected = 'mail'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/at.png">
      <div class="select-mail" [hidden]="!isSelected('mail')" (mouseleave)="resetSelects()">
        <img (click)="openMail('mail')" class="pt-2vh cursor-pointer" src="assets/menu/mail.ru.png">
        <img (click)="openMail('yandex')" class="pt-2vh cursor-pointer" src="assets/menu/ya.ru.png">
        <img (click)="openMail('gmail')" class="pt-2vh cursor-pointer" src="assets/menu/gmail.ru.png">
        <div class="pt-2vh position-relative" *ngFor="let alias of getAliases('mail')">
          <div (click)="openLink(alias.url)" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/cmail.png"> {{alias.name}}</div>
          <div (click)="removeAlias('mail', alias)" class="remove-menu">x</div>
        </div>
        <div class="pt-2vh cursor-pointer">
          <div (click)="alias = ''; url = ''; aliasName = 'mail'; aliasLabel = 'Mail Alias (Google)';  aliasUrl = 'Mail Url (https://mail.google.com/mail/)'; askForNew.show()" class="add-new-button cx cy">{{lang.tr('Add New')}} +</div>
        </div>
        <div class="pt-2vh cursor-pointer">
        </div>
      </div>

      <img (mouseenter)="resetSelects(); selected = 'office'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/office.png">
      <div class="select-mail" [hidden]="!isSelected('office')" (mouseleave)="resetSelects()">
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.office.com/launch/word')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/word.png"> {{lang.tr('Word')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.office.com/launch/excel')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/excel.png"> {{lang.tr('Excel')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.office.com/launch/powerpoint')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/powerpoint.png"> {{lang.tr('PowerPoint')}}</div>
        <div class="pt-2vh cursor-pointer"></div>
      </div>


      <img (mouseenter)="resetSelects(); selected = 'social'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/social.png">
      <div class="select-mail" [hidden]="!isSelected('social')" (mouseleave)="resetSelects()">
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.instagram.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/instagram.png"> {{lang.tr('Instagram')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://web.telegram.org/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/telegram.png"> {{lang.tr('Telegram')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://vk.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/vk.png"> {{lang.tr('VK')}}</div>
          <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.facebook.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/facebook.png"> {{lang.tr('FaceBook')}}</div>
        <div class="pt-2vh cursor-pointer"></div>
      </div>



      <img (mouseenter)="resetSelects(); selected = 'market'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/market.png">
      <div class="select-mail" [hidden]="!isSelected('market')" (mouseleave)="resetSelects()">
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.ozon.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/ozon.png"> {{lang.tr('Ozon')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.joom.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/joom.png"> {{lang.tr('Joom')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.wildberries.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/wb.png"> {{lang.tr('WildBerries')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://market.yandex.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 pl-4 cursor-pointer" src="assets/menu/yandex-market.png"> {{lang.tr('Yandex Market')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://sbermarket.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/sbermarket.png"> {{lang.tr('Sber Market')}}</div>
        <div class="pt-2vh position-relative" *ngFor="let alias of getAliases('market')">
          <div (click)="openLink(alias.url)" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/cmarket.png"> {{alias.name}}</div>
          <div (click)="removeAlias('mail', alias)" class="remove-menu">x</div>
        </div>
        <div class="pt-2vh cursor-pointer">
          <div (click)="alias = ''; url = ''; aliasName = 'mail'; aliasLabel = 'Market Alias (Yandex Market)';  aliasUrl = 'Market Url (https://market.yandex.ru/)'; askForNew.show()" class="add-new-button cx cy">{{lang.tr('Add New')}} +</div>
        </div>
        <div class="pt-2vh cursor-pointer">
        </div>
      </div>


      <img (mouseenter)="resetSelects(); selected = 'translate'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/translate.png">
      <div class="select-mail" [hidden]="!isSelected('translate')" (mouseleave)="resetSelects()">
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://translate.google.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 pl-3 cursor-pointer" src="assets/menu/google-translate.png"> {{lang.tr('Google Translate')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://translate.yandex.ru/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 pl-3 cursor-pointer" src="assets/menu/yandex-translate.png"> {{lang.tr('Yandex Translate')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.multitran.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/multitran.png"> {{lang.tr('Multitran')}}</div>
        <div class="pt-2vh cursor-pointer"></div>
      </div>

      <img (mouseenter)="resetSelects(); selected = 'messages'" class="pt-2vh cursor-pointer mx-1" src="assets/menu/chat.png">
      <div class="select-mail" [hidden]="!isSelected('messages')" (mouseleave)="resetSelects()">
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://web.whatsapp.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 pl-3 cursor-pointer" src="assets/menu/whatsapp.png"> {{lang.tr('WhatsApp')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.wechat.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 pl-3 cursor-pointer" src="assets/menu/wechat.png"> {{lang.tr('WeChat')}}</div>
        <div class="pt-2vh"></div>
        <div (click)="openLink('https://www.icq.com/')" class="add-new-button cx cy cursor-pointer"><img class="pr-1 cursor-pointer" src="assets/menu/icq.png"> {{lang.tr('ICQ')}}</div>
        <div class="pt-2vh cursor-pointer"></div>
      </div>



    </div>
    <div class="col-3 cx cy" (mouseenter)="resetSelects()">
      <div class="cursor-pointer" (click)="openPbp()">
        <div class="row">
          <div class="col no-gutters">
            <div class="row h4 cx cy pt-3vh">
              <img class="mx-1 cursor-pointer" [src]="'assets/pbp.png'" height="50"/>
            </div>
            <div class="row h6 text-red text-small">
              Personal Browser Page
            </div>
          </div>
        </div>
      </div>
      <a class="app-gallery" href="https://wap-drru.hispace.hicloud.com/uowap/index.html#/detailApp/C104131097?source=qrCodeShare" target="_blank">
        <img src="assets/appGalleryEurasian.png">
      </a>
      <div class="center-logo">
        <a class="px-1" href="https://play.google.com/store/apps/details?id=press.eurasian.the" target="_blank">
          <img src="assets/googlePlayEurasian.png">
        </a>
        <a class="px-1" href="https://apps.apple.com/us/app/the-eurasian/id1559418805" target="_blank">
          <img src="assets/appStoreEurasian.png">
        </a>
      </div>
    </div>
  </div>
  <div class="vrs-m" *ngIf="device.isMobile()">
    <div class="vr" *ngFor="let vr of galleryImages; let ind = index">
      <img (click)="openVR(vr.big, ind + 1)" height="180px" [src]="vr.small"/>
    </div>
  </div>
  <div class="df cx" [class.currencies]="!device.isMobile()">
    <div [class.currencies-and-weather-m]="device.isMobile()" [class.currencies-and-weather]="!device.isMobile()" class="mx-3">
      <div [class.weather-widgets-m]="device.isMobile()" class="weather-widgets">
        <div *ngFor="let weather of weathers" class="weather-widget">
          <div class="weather-content">
            <div class="weather-icon">
              <img [src]="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'"/>
            </div>
            <div class="weather-info">
              <div class="weather-value">{{round(weather.tempMain.temp)}} °C</div>
            </div>
          </div>
          <div class="widget-title">{{weather.name}}</div>
          <div class="weather-property">{{weather.weather[0]?.description}}</div>
          <div class="weather-property">{{lang.tr('Feels like')}}: {{round(weather.tempMain.feels_like)}} °C</div>
          <div class="weather-property">{{lang.tr('Wind')}}: {{weather.wind.speed}} m/s</div>
        </div>
      </div>
    </div>
  </div>
  <div class="df cx overflow-auto mx-2" [class.currencies]="!device.isMobile()">
    <div [class.currencies-and-weather-m]="device.isMobile()" [class.currencies-and-weather]="!device.isMobile()" class="mx-3">
      <div class="currency-widgets">
        <div class="currency-row">
          <div class="currency-source"></div>
          <div class="currency-property" *ngFor="let lang of currencyLanguages">{{lang}}</div>
        </div>
        <div *ngFor="let currency of currencies" class="currency-widget">
          <div class="currency-row">
            <div class="currency-source"><img width="25px" height="25px" [src]="'assets/' + getLangIcon(currency.source) + '.png'"/></div>
            <div class="currency-property" *ngFor="let lang of currencyLanguages">{{getQuote(currency, lang)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group journals" *ngIf="device.isMobile()">
    <div class="transparent" [class.left-arrow]="!device.isMobile()" [class.left-arrow-m]="device.isMobile()" #hScroll1ArrowLeft [hidden]="screenWidth > 1750">
      <mdb-icon *ngIf="!device.isMobile()" fas icon="chevron-left" class="text-gray" size="3x" (click)="hScroll1.scrollLeft = hScroll1.scrollLeft - 100"></mdb-icon>
      <mdb-icon *ngIf="device.isMobile()" fas icon="chevron-left" class="text-gray" size="3x" (click)="hScroll1.scrollLeft = hScroll1.scrollLeft - 100"></mdb-icon>
    </div>
    <div [class.journals-carousel]="screenWidth > 1700">
      <ul class="list-group overflow-hidden list-group-horizontal" #hScroll1>
        <li class="list-group-item horizontal" *ngFor="let publish of getPublishes()">
          <div class="journal cursor-pointer zoom view" (click)="selectJournal(publish)">
            <img class="d-block w-100 pb-3" src="../../../assets/home/publishes/e{{publish}}.jpg">
            <div class="mask flex-center rgba-black-slight">
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="transparent" [class.right-arrow]="!device.isMobile()" #hScroll1ArrowRight [hidden]="screenWidth > 1750" [class.right-arrow-m]="device.isMobile()">
      <mdb-icon *ngIf="!device.isMobile()" fas icon="chevron-right" class="text-gray" size="3x" (click)="hScroll1.scrollLeft = hScroll1.scrollLeft + 100"></mdb-icon>
      <mdb-icon *ngIf="device.isMobile()" fas icon="chevron-right" class="text-gray" size="3x" (click)="hScroll1.scrollLeft = hScroll1.scrollLeft + 100"></mdb-icon>
    </div>
  </div>
  <div class="news overflow" [class.news-m]="device.isMobile()">
    <div *ngFor="let rssItem of rssNews">
      <mdb-card class="my-2 mx-2">
        <mdb-card-body>
          <mdb-card-title>
            <h4 class="url" (click)="openLink(rssItem.url)">{{rssItem.title}}</h4>
          </mdb-card-title>
          <mdb-card-text>{{rssItem.descr}}</mdb-card-text>
          <div class="float-right rss-time">
            {{rssItem.date}}
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <div class="gallery" *ngIf="!device.isMobile()">
    <ngx-gallery #gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
  </div>
<!--  <div class="gallery-mobile" *ngIf="device.isMobile()">-->
<!--    <ngx-gallery #gallery [options]="galleryOptionsMobile" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>-->
<!--  </div>-->

  <div *ngIf="languageManager.language == 'ru'">
    <div class="tvs-carousel" *ngIf="!device.isMobile()">
      <div class="tvs list-group-item horizontal" *ngFor="let tv of tvs">
        <a href="{{tv[1]}}" target="_blank" class="mx-1">
          <div class="tv mx-1 cursor-pointer zoom view">
            <img class="d-block w-100 pb-3" src="../../../assets/tvs/{{tv[0]}}">
            <div class="mask flex-center"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="tvs-carousel-m" *ngIf="device.isMobile()">
      <div class="tvs list-group-item horizontal" *ngFor="let tv of tvs1">
        <a href="{{tv[1]}}" target="_blank" class="mx-1">
          <div class="tv mx-1 cursor-pointer zoom view">
            <img class="d-block w-100 pb-3" src="../../../assets/tvs/{{tv[0]}}">
            <div class="mask flex-center"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="tvs-carousel-m" *ngIf="device.isMobile()">
      <div class="tvs list-group-item horizontal" *ngFor="let tv of tvs2">
        <a href="{{tv[1]}}" target="_blank" class="mx-1">
          <div class="tv mx-1 cursor-pointer zoom view">
            <img class="d-block w-100 pb-3" src="../../../assets/tvs/{{tv[0]}}">
            <div class="mask flex-center"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="tvs-carousel-m" *ngIf="device.isMobile()">
      <div class="tvs list-group-item horizontal" *ngFor="let tv of tvs3">
        <a href="{{tv[1]}}" target="_blank" class="mx-1">
          <div class="tv mx-1 cursor-pointer zoom view">
            <img class="d-block w-100 pb-3" src="../../../assets/tvs/{{tv[0]}}">
            <div class="mask flex-center"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="tvs-carousel-m" *ngIf="device.isMobile()">
      <div class="tvs list-group-item horizontal" *ngFor="let tv of tvs4">
        <a href="{{tv[1]}}" target="_blank" class="mx-1">
          <div class="tv mx-1 cursor-pointer zoom view">
            <img class="d-block w-100 pb-3" src="../../../assets/tvs/{{tv[0]}}">
            <div class="mask flex-center"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="tvs-carousel-m" *ngIf="device.isMobile()">
      <div class="tvs list-group-item horizontal" *ngFor="let tv of tvs5">
        <a href="{{tv[1]}}" target="_blank" class="mx-1">
          <div class="tv mx-1 cursor-pointer zoom view">
            <img class="d-block w-100 pb-3" src="../../../assets/tvs/{{tv[0]}}">
            <div class="mask flex-center"></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<div [ngStyle]="vrStyle" *ngIf="isGalleryPreview()">
  <div class="vr-preview-mask">
    <div></div><div></div><div></div><div></div><div></div>
    <div class="cursor-pointer" (click)="openQr('ru')"></div>
    <div class="cursor-pointer" (click)="openQr('zh')"></div>
    <div class="cursor-pointer" (click)="openQr('en')"></div>
  </div>
</div>

<div mdbModal #videoPreview class="modal fade bottom" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}" (click)="videoPreview.hide()">
  <div class="image-preview-modal">
    <div class="video-preview">
      <video #previewSrc controls class="image" [src]="videoPreviewSrc"></video>
    </div>
  </div>
</div>

<div mdbModal #imagePreview class="modal fade bottom" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}" (click)="imagePreview.hide()">
  <div class="image-preview-modal">
    <div class="image-preview">
      <img *ngIf="imgSource != ''" [src]="imgSource" class="image"/>
      <div class="image-preview-mask">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr('ru', vr)"></div>
        <div class="cursor-pointer" (click)="openQr('zh', vr)"></div>
        <div class="cursor-pointer" (click)="openQr('en', vr)"></div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #askForNew class="modal fade bottom" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="ask-modal">
    <div class="ask-for-mail-modal">
      <div class="modal-exit">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="askForNew.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="ask-inputs">
        <div class="md-form cx">
          <input [(ngModel)]="alias" type="email" class="form-control" id="mailAlias" mdbInput>
          <label for="mailAlias">{{aliasLabel}}</label>
        </div>
        <div class="md-form cx">
          <input [(ngModel)]="url" type="email" class="form-control" id="mailUrl" mdbInput>
          <label for="mailUrl">{{aliasUrl}}</label>
        </div>
        <div class="cx">
          <div [class.disabled-button]="alias.trim() == '' || url.trim() == ''" (click)="addAlias(); askForNew.hide()" class="ask-for-mail-modal-button cx cy cursor-pointer text-white">OK</div>
        </div>
      </div>
    </div>
  </div>
</div>
