.page{
  min-width: 1050px;
}
.thumbs{
  flex-wrap: wrap;
  width: 1100px;
}
.thumbs.m{
  width: 80vw;
}
.thumb{
  transform: rotateY(40deg);
  height: auto;
  min-width: 200px;
  margin: 0 -35px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 40px 3px;
  cursor: pointer;
}
.thumb-m{
  transform: rotateY(40deg);
  margin: 0 -35px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 40px 3px;
  cursor: pointer;
  height: auto;
  min-width: 125px;
  width: 125px;
}
.perspective{
  perspective: 1000px;
}
.thumb:hover{
  transform: rotate(-10deg) translateY(-80px);
}
.thumb-hover{
  transform: rotate(-10deg) translateY(-80px);
}
.header{
  padding: 20px 20px 40px 20px;
}
.header-img{
  min-height: 100px;
  height: 5vw;
  margin-left: 50px;
  margin-right: 50px;
}
.flags{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.flag{
  min-width: 45px;
  min-height: 45px;
  margin: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.flag:hover{
  transform: translateY(-5px);
}
.vrs{
  padding-top: 40px;
  width: 60%;
  margin: 0 auto;
  min-width: 1000px;
}
.vr{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 100%;
  width: 100%;
}
.vr-img{
  width: 250px;
  cursor: pointer;
  transition: 0.5s;
}
.vr-img:hover{
  transform: translateY(-5px);
  z-index: 2000;
}
.footer{
  height: 180px;
  background-color: var(--footer-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.footer.m{
  height: 300px;
  padding: 0 15px 0 15px;
}
.footer-row{
  text-align: center;
  margin: 10px 20px;
}
.text-url{
  color: #E21F2D;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}
.weather{
  width: calc(100vw / 13);
  min-width: 120px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
  pointer-events: none;
}
.news{
  min-width: 780px;
  width: 100%;
  padding: 25px;
  margin: 5px;
  box-shadow: 0 0px 7px 0px rgb(34 60 80 / 20%);
  position: relative;
  border-radius: 10px;
}
.news.m{
  width: 70%;
  min-width: auto;
}
.news-m{
  padding: 15px;
  margin: 5px;
  box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
  position: relative;
  border-radius: 10px;
}
.news-date{
  position: absolute;
  top: 25px;
  right: 25px;
}
.news-title{
  color: #077f83;
  width: 600px;
}
.news-title-m{
  color: #077f83;
  width: 70%;
}
.currency-value{
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 5px 0 5px;
  padding: 5px;
  min-width: 45px;
  width: 100%;
}
.shadow{
  box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
}
.tv{
  width: 80px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
}
.separator{
  width: 200px;
  height: 2px;
  background-color: var(--eurasian-color);
  margin: 20px auto 20px;
  box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
}
.page-width{
  min-width: 850px;
  width: 80vw;
  max-width: 1600px;
}
.page-width-m{
  min-width: auto;
  width: 90vw;
}
.weathers-m{
  width: 80vw;
  min-width: 80vw;
  flex-wrap: nowrap !important;
  overflow: auto;
  justify-content: flex-start;
  height: 180px;
}
.page-width-long{
  min-width: 1000px;
  width: 80vw;
  max-width: 1600px;
}
.page-width-long.m{
  overflow: auto;
  min-width: 80vw;
}
.menu-icon{
  width: 45px;
  height: 45px;
  margin: 0 10px 0 10px;
}
.pt-2vh{
  padding-top: 2vh;
}
.menu{
  position: absolute;
  background-color: rgb(50 50 50 / 75%);
  width: 180px;
  transform: translate(-60px, 10px);
  z-index: 3;
  box-shadow: rgb(0 0 0 / 50%) 5px 5px 40px 3px;
}
.menu-item{
  background-color: #ffffff;
  height: 46px;
  width: 120px;
  font-size: small;
  font-weight: bold;
  border-radius: 10px;
}
.menu-item-sub{
  position: absolute;
  background-color: rgb(50 50 50 / 80%);
  width: 180px;
  top: 0;
  transform: translate(100%, 40%);
}
.menu-item-sub-sub{
  position: absolute;
  background-color: rgb(50 50 50 / 95%);
  width: 180px;
  transform: translate(100%, -35%);
}
.ml30px{
  margin-left: 30px;
}
.pl-4{
  padding-left: 20px;
}
.pl-3{
  padding-left: 15px;
}
.langs{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  min-width: 670px;
  width: 800px;
}
.promo{
  min-width: 300px;
  width: 400px;
}
.tv-video{
  width: 800px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 50%) 5px 5px 40px 3px;
}
.tv-video-m{
  width: 80vw;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 50%) 5px 5px 40px 3px;
}
.enable-sound{
  position: absolute;
  color: white;
  right: 20px;
  bottom: 20px;
  opacity: 1;
  transition: 0.3s;
}
.enable-sound.m{
  bottom: 10px;
  right: 10px;
}
.sound-hidden{
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
.lang-tile{
  display: grid;
  grid-template-columns: 60px 3fr;
  background-color: #EFF1F3;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  width: 252px;
  position: relative;
}
.lang-tile:hover{
  transform: translateY(-5px);
  transition: 0.3s;
}
.lang-select{
  width: 40px;
  background-color: #E1E6E9;
  color: #93a2b0;
  font-weight: 500;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 5px;
  font-size: 14px;
  height: fit-content;
  position: absolute;
  top: 10px;
  right: 10px;
}
.select-language{
  background-color: #E21F2D;
  color: white;
}

.lang-tile-m{
  background-color: #EFF1F3;
  width: 46px;
  height: 46px;
  border-radius: 10px;
}
.select-language-m{
  background-color: #E21F2D;
}
.white-circle{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
}
