<img src="//counter.rambler.ru/top100.cnt?pid=7089123"/>
<div class="container-fluid pt-10" *ngIf="!device.isMobile()">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <div class="jumbotron text-center hoverable p-4">
        <h4 class="h4 mb-4 text-red">{{lang.tr('OFFICIAL DATA ONLY')}}</h4>
        <div class="row">
          <div class="col-6">
            <img class="d-block w-100 pb-3" src="../../../assets/home/contacts/cnt1.jpg">
          </div>
          <div class="col-6">
            <p class="font-weight-normal">{{lang.tr('News articles. Write an entire article or a succinct blog post.')}}</p>
          </div>
        </div>
      </div>
      <div class="jumbotron text-center hoverable p-4">
        <h4 class="h4 mb-4 text-red">{{lang.tr('ASK QUESTIONS')}}</h4>
        <div class="row">
          <div class="col-6">
            <img class="d-block w-100 pb-3" src="../../../assets/home/contacts/cnt2.jpg">
          </div>
          <div class="col-6">
            <p class="font-weight-normal">{{lang.tr('Ask questions, set topics for disputes and online meetings.')}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-6">
      <h1 class="text-red text-center">{{lang.tr('CONTACT US')}}</h1>
      <p class="text-red pt-4 h4">
        {{lang.tr('CONTACTS:')}}
      </p>
      <p class="h6 pt-2">
        {{lang.tr('123112 PO Box No. 82, Moscow, Presnenskaya embankment, 8, building 1')}}
      </p>
      <p class="h6">
        {{lang.tr('Phone 8 (800) 300 81 18')}}
      </p>
      <p class="h6">
        Email: theeurasian@mail.ru
      </p>
      <p class="h6">
        {{lang.tr('Requisites:')}} <a href="/assets/home/contacts/ul-1197746294943-20200617101116.pdf" class="text-red" target="_blank"> {{lang.tr('view')}}</a>
       </p>
      <p class="h6">
        {{lang.tr('Mass media registration certificate:')}} <a href="/assets/home/contacts/Свидетельство%20о%20регистрации%20СМИ.pdf" class="text-red" target="_blank"> {{lang.tr('view')}}</a>
      </p>
      <p class="h6">
        {{lang.tr('Certificate of the Union Eurasia-Russia magazine:')}} <a href="/assets/home/contacts/Свидетельство%20журнала%20Союз%20Евразия-%20Россия.pdf" class="text-red" target="_blank"> {{lang.tr('view')}}</a>
      </p>
      <div class="row pt-4">
        <div class="col-6">
          <p class="text-red h4">
            {{lang.tr('EDITORIAL ADDRESSES:')}}
          </p>
          <p class="h5">
            {{lang.tr('In Russian federation:')}}
          </p>
          <p class="h6">
            {{lang.tr('123112, PO Box No. 82, Russian Federation, Moscow, Presnenskaya embankment, 8, bldg. 1, Business Center "City of Capitals"')}}
          </p>
          <p class="h6">
            {{lang.tr('Phone: 8 (800) 300 81 18')}}
          </p>
          <p class="h5">
            {{lang.tr('In the Republic of Kazakhstan:')}}
          </p>
          <p class="h6">
            {{lang.tr('010000, Republic of Kazakhstan, Nur-Sultan, st. Esenberlina, 25')}}
          </p>
          <p class="h6">
            {{lang.tr('Phone: 8 (800) 300 81 18')}}
          </p>
        </div>
        <div class="col-6">
          <p class="text-red h4">
            {{lang.tr('FOUNDERS:')}}
          </p>
          <p class="h5">
            {{lang.tr('In Russian federation:')}}
          </p>
          <p class="h6">
            {{lang.tr('LLC "CCC", 123007. Moscow, 2nd Horoshevsky prospect, 9, building 2, office 103')}}
          </p>
          <p class="h6">
            {{lang.tr('Phone +7 (7172) 38 14 21')}}
          </p>
          <p class="h5">
            {{lang.tr('In the Republic of Kazakhstan:')}}
          </p>
          <p class="h6">
            {{lang.tr('JSC "Financial Academy", 010000, Republic of Kazakhstan, Nur-Sultan, st. Esenberlina, 25')}}
          </p>
          <p class="h6">
            {{lang.tr('Phone +7 (7172) 38 14 21')}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>


<div class="container-fluid container-mobile" *ngIf="device.isMobile()">
  <div class="jumbotron text-center hoverable p-4">
    <h4 class="h4 mb-4 text-red">{{lang.tr('OFFICIAL DATA ONLY')}}</h4>
    <img class="d-block w-100 pb-3" src="/assets/home/contacts/cnt1.jpg">
    <p class="font-weight-normal">{{lang.tr('News articles. Write an entire article or a succinct blog post.')}}</p>
  </div>
  <div class="jumbotron text-center hoverable p-4">
    <h4 class="h4 mb-4 text-red">{{lang.tr('ASK QUESTIONS')}}</h4>
    <img class="d-block w-100 pb-3" src="/assets/home/contacts/cnt2.jpg">
    <p class="font-weight-normal">{{lang.tr('Ask questions, set topics for disputes and online meetings.')}}</p>
  </div>
  <h1 class="text-red text-center">{{lang.tr('CONTACT US')}}</h1>
  <h4 class="text-red pt-4">
    {{lang.tr('CONTACTS:')}}
  </h4>
  <h5>
    <p class="pt-2">{{lang.tr('123112 PO Box No. 82, Moscow, Presnenskaya embankment, 8, building 1')}}</p>
    <p>Email: theeurasian@mail.ru</p>
    <p>
      {{lang.tr('Requisites:')}} <a href="/assets/home/contacts/ul-1197746294943-20200617101116.pdf" class="text-red" target="_blank"> {{lang.tr('view')}}</a>
    </p>
    <p>
      {{lang.tr('Mass media registration certificate:')}} <a href="/assets/home/contacts/Свидетельство%20о%20регистрации%20СМИ.pdf" class="text-red" target="_blank"> {{lang.tr('view')}}</a>
    </p>
    <p>
      {{lang.tr('Certificate of the Union Eurasia-Russia magazine:')}} <a href="/assets/home/contacts/Свидетельство%20журнала%20Союз%20Евразия-%20Россия.pdf" class="text-red" target="_blank"> {{lang.tr('view')}}</a>
    </p>
  </h5>
  <h4 class="text-red pt-4">
    {{lang.tr('EDITORIAL ADDRESSES:')}}
  </h4>
  <h5>
    {{lang.tr('In Russian federation:')}} <p class="pt-2">{{lang.tr('123112, PO Box No. 82, Russian Federation, Moscow, Presnenskaya embankment, 8, bldg. 1, Business Center "City of Capitals"')}}</p>
    <p>{{lang.tr('Phone: 8 (800) 300 81 18')}}</p>
  </h5>
  <h5>
    {{lang.tr('In the Republic of Kazakhstan:')}} <p class="pt-2">{{lang.tr('010000, Republic of Kazakhstan, Nur-Sultan, st. Esenberlina, 25')}}</p>
    <p>{{lang.tr('Phone +7 (7172) 38 14 21')}}</p>
  </h5>
  <h4 class="text-red pt-4">
    {{lang.tr('FOUNDERS:')}}
  </h4>
  <h5>
    {{lang.tr('In Russian federation:')}} <p class="pt-2">{{lang.tr('LLC "CCC", 123007. Moscow, 2nd Horoshevsky prospect, 9, building 2, office 103')}}</p>
    <p>{{lang.tr('Phone +7 (7172) 38 14 21')}}</p>
  </h5>
  <h5>
    {{lang.tr('In the Republic of Kazakhstan:')}} <p class="pt-2">{{lang.tr('JSC "Financial Academy", 010000, Republic of Kazakhstan, Nur-Sultan, st. Esenberlina, 25')}}</p>
    <p>{{lang.tr('Phone +7 (7172) 38 14 21')}}</p>
  </h5>
</div>
<app-footer></app-footer>
