.pt-10{
  padding-top: 8em;
  height: 90vh;
}
.nav-title{
  background-color: red;
  padding: 0 3em 0 3em;
}
.ml-4em{
  margin-left: 4em;
}
.mr-4em{
  margin-right: 4em;
}
.text-red{
  font-family: 'Book Antiqua', serif;
  color: red;
}
.text-shadow{
  text-shadow: 2px 2px black;
}
.center{
  margin: 3em 5em 3em 5em;
}
.footer-height{
  height: 8em;
}
.full-width{
  padding-left: 0;
  padding-right: 0;
}
.pt-text{
  padding-top: 3em;
}
p{
  font-family: 'Book Antiqua', serif;
}
h5{
  font-family: 'Book Antiqua', serif;
}
.container-mobile{
  margin-top: 2em;
  padding-bottom: 5em;
}
::ng-deep .col-6{
  padding-left: 0;
  padding-right: 0;
}
