.page{
  height: 100%;
}
.cx{
  display: flex;
  justify-content: center;
}
.cy{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text-large{
  font-size: large;
  font-weight: 700;
}
