<div class="logo cx cy my-2" (click)="openLogo()">
  <img src="assets/home/logo.jpg" height="100"/>
</div>
<div class="title my-2 mt-2">
  Обращение ректора МГУ академика В.А. Садовничего
</div>
<div class="separator"></div>
<div class="title my-2">
  莫斯科国立大学校长 V.A. 院士致辞 萨多夫尼奇
</div>
<div class="separator"></div>
<div class="title my-2">
  Address of the Rector of Moscow State University, Academician V.A. Sadovnichy
</div>
<div class="select-language">
  <div class="open-url" (click)="open('https://xn--41a.tv/#/watch?video=sdvttoyears&lang=ru')">
    <div class="cx">
      <ngx-qrcode
        [value]="'https://xn--41a.tv/#/watch?video=sdvttoyears&lang=ru'"
        cssClass="aclass">
      </ngx-qrcode>
    </div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        ССЫЛКА
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open('https://xn--41a.tv/#/watch?video=sdvttoyears&lang=zh')">
    <div class="cx">
      <ngx-qrcode
        [value]="'https://xn--41a.tv/#/watch?video=sdvttoyears&lang=zh'"
        cssClass="aclass">
      </ngx-qrcode>
    </div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        关联
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
  <div class="open-url" (click)="open('https://xn--41a.tv/#/watch?video=sdvttoyears&lang=en')">
    <div class="cx">
      <ngx-qrcode
        [value]="'https://xn--41a.tv/#/watch?video=sdvttoyears&lang=en'"
        cssClass="aclass">
      </ngx-qrcode>
    </div>
    <div class="cx">
      <div class="cx pt-2 mx-2">
        LINK
      </div>
      <div class="cx pt-1">
        <img src="assets/url.png" height="20"/>
      </div>
    </div>
  </div>
</div>
