.menu-navi{
  height: 70px;
  background-color: #E21F2D;
  display: flex;
  align-items: center;
}
.thumbs{
  flex-wrap: wrap;
  width: 1100px;
}
.thumbs.m{
  width: 80vw;
}
.perspective{
  perspective: 1000px;
}
.thumb{
  transform: rotateY(40deg);
  height: auto;
  min-width: 200px;
  margin: 0 -35px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 40px 3px;
  cursor: pointer;
}
.thumb-m{
  transform: rotateY(40deg);
  margin: 0 -35px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 40px 3px;
  cursor: pointer;
  height: auto;
  min-width: 125px;
  width: 125px;
}
.thumb:hover{
  transform: rotate(-10deg) translateY(-80px);
}
.thumb-hover{
  transform: rotate(-10deg) translateY(-80px);
}
