<div class="pr" *ngFor="let imgSrc of images; let ind = index">
  <img [lazyLoad]="imgSrc" class="image"/>
  <div class="page-mask" *ngIf="isQR(9, ind)">
    <div class="left-page-mask">

    </div>
    <div class="sub-mask-promo" *ngIf="(ind + 1) == 2">
      <div></div><div></div><div></div>
      <div class="cursor-pointer" (click)="openPromo()"></div>
    </div>
    <div class="pbp-mask-promo-9" *ngIf="(ind + 1) == 117">
      <div></div><div></div><div></div>
      <div class="cursor-pointer" (click)="openPBP()"></div>
    </div>
    <div class="right-page-mask-9" *ngIf="!hideMask(ind)">
      <div></div><div></div><div></div>
      <div class="cursor-pointer" (click)="openQr9(ind)"></div>
    </div>
  </div>
  <div class="page-mask" *ngIf="isQR(10, ind)">
    <div class="left-page-mask">
      <div class="sub-mask-pbp" *ngIf="ind == 58">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPBP()"></div>
      </div>
    </div>
    <div class="sub-mask-promo" *ngIf="(ind + 1) == 2">
      <div></div><div></div><div></div>
      <div class="cursor-pointer" (click)="openPromo()"></div>
    </div>
    <div class="right-page-mask" [class.right-page-mask-e]="isQRE(ind)" *ngIf="!hideMask(ind)">
      <div></div><div></div><div></div><div></div><div></div>
      <div class="cursor-pointer" (click)="openQr10(ind,'ru')"></div>
      <div class="cursor-pointer" (click)="openQr10(ind,'cn')"></div>
      <div class="cursor-pointer" (click)="openQr10(ind,'en')"></div>
    </div>
  </div>
  <div class="page-mask" *ngIf="isQR(11, ind)">
    <div class="l-m">
      <div class="first-page-promo" *ngIf="(ind + 1) == 1">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromo()"></div>
      </div>
      <div class="left-bottom-3qr-1" *ngIf="(ind + 1) == 6">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="center-bottom-3qr" *ngIf="(ind + 1) == 8">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="left-bottom-1qr" *ngIf="(ind + 1) == 11">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=turk_ru')"></div>
      </div>
      <div class="left-bottom-3qr-2" *ngIf="(ind + 1) == 32">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="right-bottom-3qr" *ngIf="(ind + 1) == 111">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="left-bottom-1qr-1" *ngIf="(ind + 1) == 135">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://eurasian.press/#/ndch')"></div>
      </div>
    </div>

    <div class="r-m">
      <div class="second-page-promo" *ngIf="(ind + 1) == 2">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromo()"></div>
      </div>
      <div class="left-bottom-3qr" *ngIf="(ind + 1) == 3">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="center-bottom-2qr" *ngIf="(ind + 1) == 4">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 10">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 42">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 46">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 75">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 83">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="right-bottom-1qr" *ngIf="(ind + 1) == 103">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://i2.app.link/overall-aitu_product-eurasia_mag-eurasia')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 110">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 115">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 125">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11(ind,'en')"></div>
      </div>
      <div class="left-bottom-1qr-1" *ngIf="(ind + 1) == 134">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://forte.kz/camry75')"></div>
      </div>
    </div>
  </div>
  <div class="page-mask" *ngIf="isQRKz(11, ind)">
    <div class="l-m">
      <div class="left-bottom-1qr" *ngIf="(ind + 1) == 6">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=turk_ru')"></div>
      </div>
      <div class="left-bottom-3qr-1" *ngIf="(ind + 1) == 26">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="left-bottom-3qr-2" *ngIf="(ind + 1) == 28">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="right-bottom-3qr" *ngIf="(ind + 1) == 110">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="left-bottom-1qr-1" *ngIf="(ind + 1) == 133">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://eurasian.press/#/ndch')"></div>
      </div>
    </div>

    <div class="r-m">
      <div class="left-bottom-3qr-wide" *ngIf="(ind + 1) == 3">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="center-bottom-2qr" *ngIf="(ind + 1) == 4">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 35">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 41">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 45">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 74">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 82">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="right-bottom-1qr" *ngIf="(ind + 1) == 102">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://i2.app.link/overall-aitu_product-eurasia_mag-eurasia')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 109">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 114">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="right-page-mask" *ngIf="(ind + 1) == 124">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'ru')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'cn')"></div>
        <div class="cursor-pointer" (click)="openQr11Kz(ind,'en')"></div>
      </div>
      <div class="left-bottom-1qr-1" *ngIf="(ind + 1) == 132">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://forte.kz/camry75')"></div>
      </div>
    </div>
  </div>
  <div class="page-mask" *ngIf="isQR(12, ind)">
    <div class="l-m">
      <div class="first-page-promo" *ngIf="(ind + 1) == 1">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromo()"></div>
      </div>
      <div class="lb-12-1qr" *ngIf="(ind + 1) == 4">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_open_day&lang=ru')"></div>
      </div>
      <div class="rc-12-1qr" *ngIf="(ind + 1) == 8">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/science/46708613/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
      </div>
      <div class="lb-12-1qr-1" *ngIf="(ind + 1) == 11">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://yandex.ru/video/preview/?filmId=13074616915509073076&text=%D0%B2%D1%8B%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5+%D0%BB%D0%B0%D0%B2%D1%80%D0%BE%D0%B2%D0%B0+%D0%BD%D0%B0+MCIS+2021&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D_JfyjxSwWv8')"></div>
      </div>
      <div class="lb-12-1qr-2" *ngIf="(ind + 1) == 13">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_vpmo_knr&lang=ru&start=44m27s')"></div>
      </div>
      <div class="lb-12-1qr-2" *ngIf="(ind + 1) == 14">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_mo_viet&lang=ru&start=21s')"></div>
      </div>
      <div class="lb-12-1qr-2" *ngIf="(ind + 1) == 15">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_plen_zas&lang=ru&start=2m57s')"></div>
      </div>
      <div class="lb-12-2qr" *ngIf="(ind + 1) == 16">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/troops/47150492/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/science/46708613/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
      </div>
      <div class="rb-12-1qr-2" *ngIf="(ind + 1) == 18">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/troops/47150492/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
      </div>
      <div class="lt-12-1qr" *ngIf="(ind + 1) == 22">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=sberkz_ru&lang=ru')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 162">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_beslan&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_beslan&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_beslan&lang=en')"></div>
      </div>
    </div>

    <div class="r-m">
      <div class="first-page-promo-apps" *ngIf="(ind + 1) == 1">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.eurasian.press/#/download')"></div>
      </div>
      <div class="second-page-promo" *ngIf="(ind + 1) == 2">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromo()"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 3">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_putin_video&lang=ru')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 5">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_vpmo_sho&lang=ru')"></div>
      </div>
      <div class="rb-12-1qr-l" *ngIf="(ind + 1) == 7">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/troops/47150492/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 10">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.youtube.com/watch?v=mqavipNey7A&t=2666s')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 10">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.youtube.com/watch?v=mqavipNey7A&t=2666s')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 12">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_fsb_rus&lang=ru')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 13">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_vpmo_blr&lang=ru&start=9m39s')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 14">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_vpr_gos&lang=ru')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 15">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_plen_zas_role&lang=ru&start=16m21s')"></div>
      </div>
      <div class="rс-12-1qr" *ngIf="(ind + 1) == 18">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/science/46708613/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
      </div>
      <div class="rb-12-1qr-3" *ngIf="(ind + 1) == 21">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=spanf')"></div>
      </div>
      <div class="rt-12-1qr" *ngIf="(ind + 1) == 22">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=sberkz_kz&lang=ru')"></div>
      </div>
      <div class="rb-12-1qr-4" *ngIf="(ind + 1) == 35">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=wp_cn&lang=ru')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 83">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww8&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww8&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww8&lang=en')"></div>
      </div>
      <div class="lbc-12-1q" *ngIf="(ind + 1) == 91">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://akab.kz/')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 96">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww9&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww9&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww9&lang=en')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 101">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww10&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww10&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww10&lang=en')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 109">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww11&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww11&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww11&lang=en')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 129">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww12&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww12&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww12&lang=en')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 136">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww13&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww13&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww13&lang=en')"></div>
      </div>
    </div>
  </div>
  <div class="page-mask" *ngIf="isQRKz(12, ind)">
    <div class="l-m">
      <div class="first-page-promo" *ngIf="(ind + 1) == 1">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromo()"></div>
      </div>
      <div class="rb-12-1qr-5" *ngIf="(ind + 1) == 3">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_el_klb&lang=ru')"></div>
      </div>
      <div class="lb-12-1qr-3" *ngIf="(ind + 1) == 8">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=sberkz_kz&lang=ru')"></div>
      </div>




      <div class="lb-12-1qr" *ngIf="(ind + 1) == 4">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_open_day&lang=ru')"></div>
      </div>
      <div class="rc-12-1qr" *ngIf="(ind + 1) == 8">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/science/46708613/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
      </div>
      <div class="lb-12-1qr-1" *ngIf="(ind + 1) == 11">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://yandex.ru/video/preview/?filmId=13074616915509073076&text=%D0%B2%D1%8B%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5+%D0%BB%D0%B0%D0%B2%D1%80%D0%BE%D0%B2%D0%B0+%D0%BD%D0%B0+MCIS+2021&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D_JfyjxSwWv8')"></div>
      </div>
      <div class="lb-12-1qr-2" *ngIf="(ind + 1) == 13">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_vpmo_knr&lang=ru&start=44m27s')"></div>
      </div>
      <div class="lb-12-1qr-2" *ngIf="(ind + 1) == 14">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_mo_viet&lang=ru&start=21s')"></div>
      </div>
      <div class="lb-12-1qr-2" *ngIf="(ind + 1) == 15">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_plen_zas&lang=ru&start=2m57s')"></div>
      </div>
      <div class="lb-12-2qr" *ngIf="(ind + 1) == 16">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/troops/47150492/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/science/46708613/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
      </div>
      <div class="rb-12-1qr-2" *ngIf="(ind + 1) == 18">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/troops/47150492/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
      </div>
      <div class="lt-12-1qr" *ngIf="(ind + 1) == 22">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=sberkz_ru&lang=ru')"></div>
      </div>
    </div>

    <div class="r-m">
      <div class="first-page-promo-apps" *ngIf="(ind + 1) == 1">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.eurasian.press/#/download')"></div>
      </div>
      <div class="second-page-promo" *ngIf="(ind + 1) == 2">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://theurasian.kz')"></div>
      </div>
      <div class="rb-12-1qr-3" *ngIf="(ind + 1) == 7">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=spanf')"></div>
      </div>
      <div class="rb-12-1qr-6" *ngIf="(ind + 1) == 8">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=sberkz_ru&lang=ru')"></div>
      </div>



      <div class="rb-12-1qr" *ngIf="(ind + 1) == 5">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_vpmo_sho&lang=ru')"></div>
      </div>
      <div class="rb-12-1qr-l" *ngIf="(ind + 1) == 7">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/troops/47150492/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 10">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.youtube.com/watch?v=mqavipNey7A&t=2666s')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 10">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.youtube.com/watch?v=mqavipNey7A&t=2666s')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 12">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_fsb_rus&lang=ru')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 13">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_vpmo_blr&lang=ru&start=9m39s')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 14">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_vpr_gos&lang=ru')"></div>
      </div>
      <div class="rb-12-1qr" *ngIf="(ind + 1) == 15">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=mcis_plen_zas_role&lang=ru&start=16m21s')"></div>
      </div>
      <div class="rс-12-1qr" *ngIf="(ind + 1) == 18">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://news.rambler.ru/science/46708613/?utm_content=news_media&utm_medium=read_more&utm_source=copylink')"></div>
      </div>
      <div class="rb-12-1qr-4" *ngIf="(ind + 1) == 19">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=wp_cn&lang=ru')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 67">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww8&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww8&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww8&lang=en')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 80">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww9&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww9&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww9&lang=en')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 85">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww10&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww10&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww10&lang=en')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 93">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww11&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww11&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww11&lang=en')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 113">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww12&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww12&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww12&lang=en')"></div>
      </div>
      <div class="rb-12-3qr" *ngIf="(ind + 1) == 120">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww13&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww13&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_ww13&lang=en')"></div>
      </div>


      <div class="lbc-12-1q" *ngIf="(ind + 1) == 91">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://akab.kz/')"></div>
      </div>


      <div class="rb-12-3qr" *ngIf="(ind + 1) == 151">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_beslan&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_beslan&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=vr_beslan&lang=en')"></div>
      </div>
    </div>
  </div>


  <div class="page-mask" *ngIf="isQR(13, ind)">
    <div class="l-m">
      <div class="first-page-promo-e13" *ngIf="(ind + 1) == 1">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromo()"></div>
      </div>
      <div class="rb-13-1qr" *ngIf="(ind + 1) == 2">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://fond.historyrussia.org/izdaniya/vestnik-vorontsovo-pole.html')"></div>
      </div>
      <div class="rt-13-1qr" *ngIf="(ind + 1) == 7">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.youtube.com/watch?v=OwK8oyD5uns')"></div>
      </div>
      <div class="rb-13-1qr-1" *ngIf="(ind + 1) == 18">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=ryatoru&lang=zh')"></div>
      </div>
      <div class="rb-13-3qr-1" *ngIf="(ind + 1) == 19">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.youtube.com/watch?v=k_Zh0CwwDXU')"></div>
        <div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://iz.ru/video/embed/1153359')"></div>
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://iz.ru/1217727/2021-09-06/v-sovfede-podderzhali-ideiu-priravnivaniia-propagandy-natcizma-k-ekstremizmu')"></div>
      </div>
      <div class="lb-13-1qr-3" *ngIf="(ind + 1) == 73">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=30letlukoil&lang=ru')"></div>
      </div>
      <div class="rb-13-1qr-2" *ngIf="(ind + 1) == 98">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('http://www.agp.com.kz/')"></div>
      </div>
    </div>
    <div class="r-m">
      <div class="first-page-promo-apps" *ngIf="(ind + 1) == 1">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.eurasian.press/#/download')"></div>
      </div>
      <div class="second-page-promo" *ngIf="(ind + 1) == 2">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromo()"></div>
      </div>
      <div class="lb-13-1qr" *ngIf="(ind + 1) == 3">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://eurasian.press/#/bcalledexam')"></div>
      </div>
      <div class="lb-13-1qr" *ngIf="(ind + 1) == 8">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://eurasian.press/#/sdvttoyears')"></div>
      </div>
      <div class="rb-13-3qr" *ngIf="(ind + 1) == 17">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=interlukbbc&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=interlukbbc&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=interlukbbc&lang=en')"></div>
      </div>
      <div class="rb-13-2qr" *ngIf="(ind + 1) == 18">
        <div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=ryatoru&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=ryatoru&lang=en')"></div>
      </div>
      <div class="lb-13-1qr-1" *ngIf="(ind + 1) == 29">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://ayala.kz/ru/power/')"></div>
      </div>
      <div class="rb-13-1qr-2" *ngIf="(ind + 1) == 48">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://bsgp.kz/ru_RU/')"></div>
      </div>
      <div class="rt-13-2qr" *ngIf="(ind + 1) == 51">
        <div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.youtube.com/watch?list=PLLjLTQ2qRC2ZCklTv7SNK8zuntFQMxak1&v=JJG5FbQp73o&feature=emb_logo')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.youtube.com/watch?v=-AX7TGV3h-0&feature=emb_logo')"></div>
      </div>
      <div class="rb-13-1qr-2" *ngIf="(ind + 1) == 55">
        <div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('http://static.kremlin.ru/media/events/video/ru/video_low/0GLvhTBpmgrBWwfhmxuHAwAzd4wjTbUW.mp4')"></div>
      </div>
      <div class="rb-13-1qr-3" *ngIf="(ind + 1) == 93">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://eurasian.press/#/temirtransserv')"></div>
      </div>
    </div>
  </div>
  <div class="page-mask" *ngIf="isQRKz(13, ind)">
    <div class="l-m">
      <div class="first-page-promo-e13" *ngIf="(ind + 1) == 1">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoKz()"></div>
      </div>
      <div class="rt-13-1qr" *ngIf="(ind + 1) == 7">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.youtube.com/watch?v=OwK8oyD5uns')"></div>
      </div>
      <div class="lb-13-1qr" *ngIf="(ind + 1) == 48">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://eurasian.press/#/sdvttoyears')"></div>
      </div>
      <div class="lb-13-1qr-3" *ngIf="(ind + 1) == 67">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://я.tv/#/watch?video=30letlukoil&lang=ru')"></div>
      </div>
      <div class="lb-13-1qr" *ngIf="(ind + 1) == 92">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://eurasian.press/#/bcalledexam')"></div>
      </div>
    </div>
    <div class="r-m">
      <div class="first-page-promo-apps" *ngIf="(ind + 1) == 1">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://www.eurasian.press/#/download')"></div>
      </div>
      <div class="second-page-promo" *ngIf="(ind + 1) == 2">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoKz()"></div>
      </div>
      <div class="rb-13-3qr" *ngIf="(ind + 1) == 12">
        <div></div><div></div><div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=interlukbbc&lang=ru')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=interlukbbc&lang=zh')"></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://xn--41a.tv/#/watch?video=interlukbbc&lang=en')"></div>
      </div>
      <div class="lb-13-1qr-1" *ngIf="(ind + 1) == 28">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://ayala.kz/ru/power/')"></div>
      </div>
      <div class="rb-13-1qr-2" *ngIf="(ind + 1) == 47">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://bsgp.kz/ru_RU/')"></div>
      </div>
      <div class="rb-13-1qr-3" *ngIf="(ind + 1) == 49">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://eurasian.press/#/nmrighttoknow')"></div>
      </div>
      <div class="rb-13-1qr-2" *ngIf="(ind + 1) == 75">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('http://www.agp.com.kz/')"></div>
      </div>
      <div class="rb-13-1qr-4" *ngIf="(ind + 1) == 87">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://eurasian.press/#/temirtransserv')"></div>
      </div>
      <div class="rb-13-1qr" *ngIf="(ind + 1) == 92">
        <div></div><div></div><div></div>
        <div class="cursor-pointer" (click)="openPromoQr('https://fond.historyrussia.org/izdaniya/vestnik-vorontsovo-pole.html')"></div>
      </div>
    </div>
  </div>
</div>
