<div class="container-fluid cx pt-4">
  <a href="https://theurasian.eu" target="_blank">
    <div class="logo">
      <img class="d-block" width="220" src="../../../assets/home/logo.jpg">
    </div>
  </a>
</div>
<div class="container-fluid pt-4 pb-4">
  <p>(28.05.2021 12:27)</p>
  <strong>欧亚经济联盟条约第七周年</strong>
  <p>
    尊敬的同事、尊敬的朋友们！ 七年前，2014年5月29日已签署了欧亚经济联盟条约。
    这一份基本文件在广泛的经济问题框架内体现了全面一体化的开始。由于在履行条约条款方面的持续努力，目前，欧亚经济联盟的统一商品市场为亚美尼亚、白俄罗斯、哈萨克斯坦、吉尔吉斯斯坦和俄罗斯的1.8亿多消费者成功地工作。在建立服务市场方面取得了重大进展，已经覆盖了53个部门。通过了欧亚经济联盟统一的海关法典和药典。劳动人民得到了行动自由和社会福利的保障，养老保障协议于2021年1月生效。在欧亚经济联盟框架内有49项技术法规和12,000多项国际标准，因此约85％的产品根据通用技术标准获得了认证。
  </p>
  <p>
    加入欧亚经济联盟的一事已证明了其可靠性。在运营的前五年，欧亚经济联盟的国内生产总量增长了21％，到2019年底达到近2万亿美元。工业生产增长了13.2%，其中加工工业增长近15%。这些数字高于欧盟等其他一体化组织的指标。同期，欧亚经济联盟成员国的相互贸易额增长了27.7%。  </p>
  <p>
    欧亚经济联盟已成为国际经济关系结构的一个组成部分。到2021年初，委员会与第三国政府缔结了14项合作或谅解备忘录，以及与区域一体化集团缔结了9份备忘录。三个国家获得了欧亚经济联盟观察员地位（摩尔多瓦、古巴、乌兹别克斯坦），欧亚经济联盟与五个国家签署了不同深度的贸易协定（中国、伊朗、新加坡、塞尔维亚、越南）。
  </p>
  <p>
    欧亚经济联盟运营的第六年成为一次真正的严格考验，我们面临了严峻挑战。我认为，欧亚经济联盟适当地应对了这一挑战。由于成员国政府和欧亚经济委员会的协调行动，成功地组织了有效的资源管理，关键药品、医疗用品、工业和食品流通。及时采取措施，确保经济稳定，对抗冠状病毒疫情扩散。  </p>
  <p>
    2019新冠病毒(COVID-19)疫情对联盟国家经济的负面影响正在逐渐减弱：在经济支持措施和取消限制措施的背景下，一些经济部门正在恢复正常。1–3月2021的欧亚经济联盟成员国之间的贸易额与去年同期相比增长了16.7％，与世界第三国的贸易额增长了3.9％。
  </p>
  <p>
    最近的一个关键事件是，欧亚经济联盟国家元首于2020年12月批准了“2025年前欧亚经济一体化发展的战略方向”实施计划。该战略扩大了欧亚经济联盟条约的“活动范围”，标志着从形成阶段到项目一体化阶段的转变。今天，为了加快欧亚经济联盟的经济增长，有必要在有效利用生产能力，劳动力资源和科技潜力的基础上促进投资和创新活动。
  </p>
  <p>
    一体化必须符合我们各国公民的利益，以便为联盟国家的公民营造优美舒适的生活环境。这就是为什么战略-2025包括欧亚经济联盟经济合作的新领域，如教育和科学，旅游，体育和医疗保健。
  </p>
  <p>
    我相信，只有共同努力，我们才能克服疫情的影响，充分发挥战略方向计划的潜力，这将使我们能够实现更快的经济增长，实现成员国和联盟协调一致的目标，并加强欧亚经济联盟及其成员国在世界上的地位。
  </p>
  <strong>欧亚经济委员会执委会主席 米哈伊尔 米亚斯尼科维奇</strong>
</div>
