@import '~@vime/core/themes/default.css'; /* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Charter ITC';
  src: url('/assets/charter_itc.ttf') format('regular'),
  url('/assets/charter_itc.ttf') format('regular');
}
@font-face {
  font-family: 'Book Antiqua';
  src: url('/assets/book_antiqua.ttf') format('regular'),
  url('/assets/book_antiqua.ttf') format('regular');
}
.carousel-caption {
  font-size: 1.5em !important;
}
.text{
  font-family: 'Book Antiqua', serif;
}

/*.pdfViewer .page{*/
/*  transform: scale(0.7) translate(0, -20%);*/
/*}*/

.text-center{
  font-family: 'Book Antiqua', serif;
  text-align: center;
}
.carousel{
  margin-top: -5em;
}
.navBlack{
  background-color: rgba(0,0,0, 0.4);
}
.navBlack-mobile{
  background-color: rgba(0,0,0, 0.8);
}
label{
  font-family: 'Book Antiqua', serif;
}
/*.page-footer{*/
/*  min-width: 1300px;*/
/*  width: 100%;*/
/*}*/
.navbar{
  /*height: 10em;*/
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::ng-deep .col1{
  display: none !important;
}
.col1{
  display: none !important;
}
pdf-viewer {
  display: block;
  height: 100vh;
}
::ng-deep pdf-viewer {
  display: block;
  height: 100vh;
}
.row{
  margin: 0;
}
.text-small{
  font-size: small;
  text-align: center;
}
.aclass{

}

/* You can add global styles to this file, and also import other style files */
.df{
  display: flex;
}
.df.c{
  justify-content: center;
}
.df.c.fw{
  flex-wrap: wrap;
}
.df.c.y{
  align-items: center;
}
.w100{
  width: 100%;
}
.w60{
  width: 60%;
}
.w800px{
  width: 800px;
}
.w1000px{
  width: 1000px;
}
.p15{
  padding: 15px;
}
.h600px{
  height: 600px;
}
.mt15vh{
  margin-top: 15vh;
}
.mt5px{
  margin-top: 5px;
}
.mt20px{
  margin-top: 20px;
}
.mt40px{
  margin-top: 40px;
}
.mx10px{
  margin: 0 10px 0 10px;
}
.m10px{
  margin: 10px;
}
.ovf{
  overflow: auto;
}
body{
  margin: 0;
  padding: 0;
}
:root{
  --eurasian-color: #E21F2D;
  --footer-color: #1A1D1D;
}
::-webkit-scrollbar-track
{
  background-color: gray;
}
::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb
{
  background-color: var(--footer-color);
  border-radius: 10px;
}
.text-bold{
  font-weight: 600;
}
.text-small{
  font-size: small;
}
.cp{
  cursor: pointer;
}
.icon-plus16 {
  background-image: url('/assets/menu/pg.png');
  height: 46px;
  width: 46px;
}
.mx-1{
  margin-left: 5px;
  margin-right: 5px;
}
.mx-2{
  margin-left: 10px;
  margin-right: 10px;
}
.pr-1{
  padding-right: 5px;
}
.w80{
  width: 80%;
}
.pr{
  position: relative;
}
.ml-20{
  margin-left: 20px;
}
