.pt-10{
  min-height: calc(100vh - 10em);
}
.nav-title{
  background-color: red;
  padding: 0 3em 0 3em;
}
.ml-4em{
  margin-left: 4em;
}
.mr-4em{
  margin-right: 4em;
}
.text-red{
  font-family: 'Book Antiqua', serif;
  color: red;
}
.text-shadow{
  text-shadow: 2px 2px black;
}
.center{
  font-family: 'Book Antiqua', serif;
  margin: 3em 5em 3em 5em;
}
.footer-height{
  height: 8em;
}
.full-width{
  padding-left: 0;
  padding-right: 0;
}
.pt-text{
  padding-top: 3em;
}
h4{
  font-family: 'Book Antiqua', serif;
}
.container-mobile{
  margin-top: -5em;
  padding-bottom: 5em;
}
.page-bottom{
  height: 10vh;
}
.cert-height{
  height: 80vh;
  overflow-y: auto;
}
